# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\user\Desktop\Emsi\Complements de formation\Intelligence Artificielle Distribuée avec les Systèmes Multi Agents(mohamed youssfi)\IA_SystemeMultiAgent\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
